:root {
  --color-base-primary: #3388bb;
  --color-base-secondary: #7777aa;

  --color-base-positive: #67c23a;
  --color-base-caution: #e6a23c;
  --color-base-negative: #f56c6c;

  --color-base-black: #1e1e1e;
  --color-base-gray-1: #262626;
  --color-base-gray-2: #343434;
  --color-base-gray-3: #e6e6e6;
  --color-base-gray-4: #f6f6f6;
  --color-base-white: #ffffff;
}

:root {
  --color-primary: var(--color-base-primary);
  --color-secondary: var(--color-base-secondary);

  --color-black: var(--color-base-black);
  --color-white: var(--color-base-white);

  --color-ok: var(--color-base-positive);
  --color-warning: var(--color-base-caution);
  --color-danger: var(--color-base-negative);

  --color-text: var(--color-base-gray-1);

  --color-border: var(--color-base-gray-3);
  --color-bg: var(--color-base-white);
  --color-bg-secondary: var(--color-base-gray-4);

  --color-offset-active: var(--color-base-gray-3);
}

:root[data-theme='dark'] {
  --color-primary: var(--color-base-primary);
  --color-secondary: var(--color-base-secondary);

  --color-ok: var(--color-base-positive);
  --color-warning: var(--color-base-caution);
  --color-danger: var(--color-base-negative);

  --color-text: var(--color-base-gray-3);

  --color-border: var(--color-base-gray-2);
  --color-bg: var(--color-base-black);
  --color-bg-secondary: var(--color-base-gray-1);

  --color-offset-active: var(--color-base-gray-2);
}
